// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
// Variables
@import 'variables';
// Variables
@import 'custom';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
